@font-face {
  font-family: 'roboto-normal';
  src: url('/assets/roboto/Roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto-thin';
  src: url('/assets/roboto/Roboto-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('/assets/roboto/Roboto-bold.ttf') format('truetype');
}

$secondary: #0BB2FC;

body {
  font-family:'roboto-normal', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

h1 {
  font-family: 'roboto-bold' sans-serif;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-family: 'roboto-regular', sans-serif;
  font-size: 1rem;
}

a {
  color: $secondary;
}

.container {
  height:100%;
  position: relative;
}

.circular{
  background-size: cover;
  border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.slide {
  opacity:1;
  height: 900px; //set with js
  text-align:center;

  .slide-list {
    width: 35%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
  }
}

