@font-face {
  font-family: 'roboto-normal';
  src: url('/assets/roboto/Roboto-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto-thin';
  src: url('/assets/roboto/Roboto-thin.ttf') format('truetype');
}

@font-face {
  font-family: 'roboto-bold';
  src: url('/assets/roboto/Roboto-bold.ttf') format('truetype');
}

$secondary: #0BB2FC;

body {
  font-family:'roboto-normal', sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

h1 {
  font-family: 'roboto-bold' sans-serif;
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
}

p {
  font-family: 'roboto-regular', sans-serif;
  font-size: 1rem;
}

a {
  color: $secondary;
}

ul {
  list-style: none;
}

.container {
  .content {
    text-align: center;
    margin:10%;
  }
}

.front-page {
  text-align: center;
  height:100vh;
  margin: 10%;
}

.circular{
  background-size: cover;
  border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.crud-wrapper {

  h1 {
    margin-left: 5%;
    font-size: 2rem
  }
  textarea {
    margin-left: 5%;
    width: 50%;
    height: 100px;
  }

  .error-message {
    background: pink;
    position: fixed;
    top:0;
    font-size: 1.7rem;

    button {
      float: right;
      width: 80px;
      height: 80px;
      margin: 15px;
    }
  }

  .token{
    margin-top: 30px;
    width: 50%;
    heigth: 50px;

  }
}
