<section class="front-page">
  <img class="circular" src="assets/profile.jpg">
  <h1>Kim Pettersen</h1>
  <h2>Full Stack Software Engineer</h2>
  <p ng-repeat="entry in introduction | orderBy: 'order'">
    {{ entry.description }}
  </p>
</section>

<section class="experience content">
  <h1>Experience</h1>
  <div ng-repeat="entry in experience | orderBy: 'order'">
    <h2>{{ entry.where }}</h2>
    <p>{{ entry.when }}</p>
    <p>
      {{ entry.description }}
    </p>
  </div>
</section>

<section class="education content">
  <h1>Education</h1>
  <div ng-repeat="entry in education | orderBy: 'order'">
      <h2>{{ entry.where }}</h2>
      <p>{{ entry.when }}</p>
      <p>
        {{ entry.description }}
      </p>
  </div>
</section>

<section class="about content">
  <h1>About</h1>
  <div ng-repeat="entry in about | orderBy: 'order'">
      <h2>{{ entry.title }}</h2>
      <p>
        {{ entry.description }}
      </p>
  </div>
</section>

<section class="project content">
  <h1>Projects</h1>
  <div ng-repeat="entry in project | orderBy: 'order'">
      <h2>{{ entry.title }}</h2>
      <p>
        {{ entry.description }}
      </p>
  </div>
</section>


