<section class="error" ng-show="showErrorMessage">
  <h1>{{ errorMessage }}</h1>
</section>

<div class="content-wrapper">

  <div id="slide-1" class="slide" data-bottom="opacity: 0" data-top="opacity: 0" data-center="opacity: 1">
    <h1>Kim Pettersen</h1>

    <p>Software Engineer</p>
  </div>


  <div id="slide-2" class="slide" data-bottom="opacity: 0" data-top="opacity: 0" data-center="opacity: 1">
    <h1>Experience</h1>
    <ul class="resource-list">
      <li ng-repeat="item in experience">
        <h2>
          {{ item.where }}
        </h2>

        <p>
          {{ item.when }}
        </p>

        <p>
          {{ item.description }}
        </p>
      </li>
    </ul>
  </div>

  <div id="slide-3" class="slide" data-bottom="opacity: 0" data-center="opacity: 1" data-top="opacity: 0">
    <h2>This is section 2</h2>
    <p>This should fade out</p>
  </div>
</div>
